.navbar {
  padding: 20px;
  background-color: #86BF9B;
  font-size: 20px;
  color: #FFF;
}

.search {
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

.repo {
  padding: 50px;
  display: flex;
  flex-direction: row ;
  flex-wrap: wrap;
}